@charset "UTF-8";
/* sm - Small devices (landscape phones, 576px and up) */
/* lg - Large devices (desktops, 992px and up) */
/* section 設定 */
.introduction-style, .skill-style, .experience-style {
  margin: 2.5%;
  background-color: rgba(255, 250, 205, 0.8);
  border-radius: 20px;
}

/* 自我介紹 */
@media (min-width: 1000px) {
  .container {
    display: inline-flex;
  }
}
@media (min-width: 0px) {
  .container .introduction-picture {
    text-align: center;
    width: 100%;
  }
}
@media (min-width: 1000px) {
  .container .introduction-picture {
    text-align: center;
    width: 30%;
  }
}
@media (min-width: 0px) {
  .container .introduction-picture .personal-picture {
    width: 50%;
    height: 100%;
    border-radius: 50%;
  }
}
@media (min-width: 1000px) {
  .container .introduction-picture .personal-picture {
    width: 50%;
    height: 100%;
    border-radius: 50%;
  }
}
@media (min-width: 0px) {
  .container .introduction-introduction {
    text-align: center;
    width: 100%;
  }
}
@media (min-width: 1000px) {
  .container .introduction-introduction {
    text-align: center;
    width: 40%;
  }
}
@media (min-width: 0px) {
  .container .introduction-introduction .introduction-info {
    font-size: 100%;
  }
}
@media (min-width: 1000px) {
  .container .introduction-introduction .introduction-info {
    font-size: 130%;
  }
}
@media (min-width: 0px) {
  .container .introduction-introduction .introduction-name {
    font-size: 150%;
  }
}
@media (min-width: 1000px) {
  .container .introduction-introduction .introduction-name {
    font-size: 200%;
  }
}
.container .introduction-introduction .introduction-motto {
  font-style: italic;
  font-weight: bold;
}
@media (min-width: 0px) {
  .container .introduction-introduction .introduction-motto {
    font-size: 120%;
  }
}
@media (min-width: 1000px) {
  .container .introduction-introduction .introduction-motto {
    font-size: 150%;
  }
}
@media (min-width: 0px) {
  .container .introduction-icon {
    padding-top: 5%;
    text-align: center;
    width: 100%;
  }
}
@media (min-width: 1000px) {
  .container .introduction-icon {
    padding-top: 5%;
    text-align: center;
    width: 30%;
  }
}
@media (min-width: 0px) {
  .container .introduction-icon .icon {
    width: 5%;
    height: 20%;
    padding-right: 4%;
  }
}
@media (min-width: 1000px) {
  .container .introduction-icon .icon {
    width: 20%;
    height: 60%;
    padding-right: 7%;
  }
}

/* 技能 */
@media (min-width: 0px) {
  .skill-program-container, .skill-professional-container {
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 1000px) {
  .skill-program-container, .skill-professional-container {
    display: inline-flex;
    width: 100%;
    position: relative;
    text-align: center;
  }
}

.skill-program {
  text-align: center;
}
@media (min-width: 1000px) {
  .skill-program {
    padding-right: 3%;
    padding-left: 3%;
  }
}

@media (min-width: 0px) {
  .experience-container {
    padding-right: 2.5%;
    padding-left: 2.5%;
  }
  .experience-container .experience-courses {
    width: 100%;
  }
  .experience-container .experience .experience-img-container {
    width: 100%;
    text-align: center;
  }
  .experience-container .experience .experience-description {
    width: 100%;
    font-size: 24px;
    text-align: center;
    font-style: italic;
  }
  .experience-container .experience .experience-img {
    width: 400px;
    height: 310px;
  }
}
@media (min-width: 1000px) {
  .experience-container {
    padding-right: 5%;
    padding-left: 5%;
  }
  .experience-container .experience-courses {
    width: 100%;
  }
  .experience-container .experience {
    display: flex;
  }
  .experience-container .experience .experience-img-container {
    width: 50%;
    text-align: center;
  }
  .experience-container .experience .experience-description {
    width: 50%;
    font-size: 24px;
    text-align: center;
    font-style: italic;
  }
  .experience-container .experience .experience-img {
    width: 400px;
    height: 310px;
  }
}/*# sourceMappingURL=index.css.map */