/* sm - Small devices (landscape phones, 576px and up) */
@mixin small {
    @media (min-width: 0px){
        @content;
    }
}

/* lg - Large devices (desktops, 992px and up) */
@mixin large {
    @media (min-width: 1000px){
        @content;
    }
}

.guide{
    display: flex;
}

nav{
    @include small{
        height: 100px;
        font-size: 36px;
        text-align: center;
        background-color: 	#FFD78C;
        font-weight: bold;
    }

    @include large{
        height: 50px;
        font-size: 24px;
        text-align: center;
        background-color: 	#FFD78C;
        font-weight: bold;
    }
    

    ul{
        @include small{
            margin: auto;
            width: 100%;
        }   

        @include large{
            margin: auto;
            width: 100%;
        }
    }

    li{
 
        list-style: none;
        display: inline-block;
        position: relative;
        color: #ffffff;
        
    }

    a{
        @include small{
            position: relative;
            padding: 20px;
            transition: 0.3s;
            text-decoration: none;
            color: white;
        }

        @include large{
            position: relative;
            padding: 30px;
            transition: 0.3s;
            text-decoration: none;
            color: white;
        }
    }

    a:hover{
    opacity: 0.8;
    }
}